{% extends 'base.html' %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile_pic.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' post.author.usn %}">{{ post.author.usn }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F j, Y" }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="text-muted"><b>Category:</b> {{ post.category }}</p>
        <p class="article-content">{{ post.content }}</p>
        {% if post.author == user %}
        <a class="btn btn-outline-secondary" href="{% url 'update_post' post.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'delete_post' post.id %}">Delete</a>
        {% endif %}
    </div>
</article>

<div class="row">
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                {% for comment in comments %}
                <div class="media mt-3">
                    <img class="rounded-circle article-img" src="{{ comment.author.profile_pic.url }}">
                    <div class="media-body ml-3">
                        <div class="article-metadata d-flex justify-content-between align-items-center">
                            <div>
                                <a class="mr-2" href="{% url 'author_profile' comment.author.id %}">{{ comment.author.usn }}</a>
                                <small class="text-muted">{{ comment.date_posted|date:"F j, Y" }}</small>
                            </div>
                            {% if request.user == comment.author %}
                            <div class="d-flex align-items-center">
                                <small>
                                    <a class="btn btn-sm btn-outline-danger"
                                       href="{% url 'delete_comment' post_id=post.id comment_id=comment.id %}">Delete</a>
                                </small>
                            </div>
                            {% endif %}
                        </div>
                        <p>{{ comment.content }}</p>
                        <a class="btn btn-sm btn-outline-secondary" href="#" onclick="showReplyForm({{ comment.id }})">Reply</a>
                        <div id="replyForm{{ comment.id }}" style="display: none;">
                            <form method="post" action="{% url 'add_reply' post_id=post.id comment_id=comment.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <div class="form-group">
                                    <textarea class="form-control" name="content" rows="3"
                                              placeholder="Write your reply here" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-sm btn-outline-danger">Submit Reply</button>
                            </form>
                        </div>
                        {% for reply in comment.replies.all %}
                        <div class="media mt-3">
                            <img class="rounded-circle article-img" src="{{ reply.author.profile_pic.url }}">
                            <div class="media-body ml-3">
                                <div class="article-metadata d-flex justify-content-between align-items-center">
                                    <div>
                                        <a class="mr-2" href="{% url 'author_profile' reply.author.id %}">{{ reply.author.usn }}</a>
                                        <small class="text-muted">{{ reply.date_posted|date:"F j, Y" }}</small>
                                    </div>
                                    {% if request.user == reply.author %}
                                    <div class="d-flex align-items-center">
                                        <small>
                                            <a class="btn btn-sm btn-outline-danger"
                                               href="{% url 'delete_reply' post_id=post.id reply_id=reply.id %}">Delete</a>
                                        </small>
                                    </div>
                                    {% endif %}
                                </div>
                                <p>{{ reply.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}

                <script>
                    function showReplyForm(commentId) {
                        var replyForm = document.getElementById('replyForm' + commentId);
                        replyForm.style.display = 'block';
                    }
                </script>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Add Comment</h5>
                <form method="post" action="{% url 'add_comment' post.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="content" rows="3" placeholder="Write your comment here"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}